body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: darkblue;
}

h1 {
  color: maroon;
}

.page {
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.logo {
  width: 75%; /* 75% of page width */
  max-width: 750px; /* optional: stop it getting huge */
  height: auto;
  margin-bottom: 24px;
}

.card {
  width: 250px;
  padding: 16px;
  border-radius: 10px;
  background: grey;
  text-align: center;
}

.navbar {
  background-color: red;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #000000;
  color: white;
}

dialog {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Style the backdrop behind the modal */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.settings {
  display: flex;
  flex-direction: row;
}

.settings-options {
  display: flex;
  flex-direction: column;
}